@layer tw_base, mantine, tw_components, tw_utilities;

/* import tailwind */
@import "tailwindcss/base" layer(tw_base);
@import "tailwindcss/components" layer(tw_components);
@import "tailwindcss/utilities" layer(tw_utilities);

/* import mantine */
@import "@mantine/core/styles.layer.css";

@font-face {
    font-family: 'MinhaFonte';
    src: url('../public/fonts/GeistVF.woff') format('woff2'),
         url('../public/fonts/GeistMonoVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  
.table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Ajuste o valor conforme necessário */
}

/* Adicione este estilo ao seu arquivo CSS */
.table-cell {
  word-wrap: break-word;
  max-width: 200px; /* Ajuste o valor conforme necessário */
}
body {
    font-family: 'MinhaFonte', sans-serif;
  }